@{
    ViewData["Title"] = "Menus";
}

<h1>Menus</h1>

<div>
    <a asp-controller="Rooms" class="btn btn-outline-primary" asp-action="Index">Rooms</a>
    <a asp-controller="Bookings" class="btn btn-outline-primary" asp-action="Index">Bookings</a>
    <a asp-controller="Restaurants" class="btn btn-outline-primary" asp-action="Index">Restaurants</a>
    <a asp-controller="Services" class="btn btn-outline-primary" asp-action="Index">Services</a>
    <a asp-controller="Reports" class="btn btn-outline-primary" asp-action="Index">Reports</a>
    <a asp-controller="Agents" class="btn btn-outline-primary" asp-action="Index">Agents</a>
    <a asp-controller="Guests" class="btn btn-outline-primary" asp-action="Index">Guests</a>
</div>