@model HRMS.Models.RoomType

@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <form asp-action="Edit">
        <div class="row mb-5">
            <h4>Edit Room Type</h4>
        </div>
        <div class="row mb-5">
            <div class="col-md-4">
                <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
                <input type="hidden" asp-for="Id" />
                <div class="mb-3">
                    <label asp-for="Name" class="form-label"></label>
                    <input asp-for="Name" class="form-control" readonly="readonly" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Price" class="form-label"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="mb-3">
                </div>
            </div>
        </div>

        <a asp-action="Index" class="btn btn-info">
            <i class="material-icons">keyboard_backspace</i>
            Back
        </a>
        <input type="submit" value="Save" class="btn btn-primary mx-3" />

    </form>
</div>
